{# templates/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
{% block content %}
<h1>Welcome to the {{ title }}
    Unseen, Unheard, Unrivaled.
    Welcome to the heart of covert operations and strategic intelligence. As guardians of secrecy and masters of discretion, we operate in the shadows to safeguard our nation's interests. Our agents are the epitome of skill and precision, entrusted with missions that shape history from the shadows.
    Join us in unraveling mysteries, thwarting threats, and protecting the world as you've never seen it before. Step into a realm where every whisper holds power, and every move is a step toward victory.
    Dare to uncover the secrets that define us. Dare to be extraordinary!</h1>
{% endblock content%}
</body>
</html>